.vs/CSV2DBConverter/v15/Server/sqlite3/storage.ide-wal
.vs/CSV2DBConverter/v15/Server/sqlite3/storage.ide-shm
.vs/CSV2DBConverter/v15/Server/sqlite3/storage.ide
.vs/CSV2DBConverter/v15/Server/sqlite3/db.lock
.vs/CSV2DBConverter/DesignTimeBuild/.dtbcache
CSV2DBConverter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CSV2DBConverter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CSV2DBConverter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CSV2DBConverter/obj/Debug/CSV2DBConverter.csproj.FileListAbsolute.txt
CSV2DBConverterTests/bin/Debug/netcoreapp2.1/CSV2DBConverterTests.runtimeconfig.json
CSV2DBConverterTests/bin/Debug/netcoreapp2.1/CSV2DBConverterTests.runtimeconfig.dev.json
CSV2DBConverterTests/bin/Debug/netcoreapp2.1/CSV2DBConverterTests.deps.json
CSV2DBConverterTests/obj/project.assets.json
CSV2DBConverterTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CSV2DBConverterTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CSV2DBConverterTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CSV2DBConverterTests/obj/Debug/netcoreapp2.1/CSV2DBConverterTests.csproj.FileListAbsolute.txt
CSV2DBConverterTests/obj/Debug/netcoreapp2.1/CSV2DBConverterTests.csproj.CopyComplete
CSV2DBConverterTests/obj/Debug/netcoreapp2.1/CSV2DBConverterTests.Program.cs
CSV2DBConverterTests/obj/Debug/netcoreapp2.1/CSV2DBConverterTests.AssemblyInfo.cs
CSV2DBConverterTests/obj/CSV2DBConverterTests.csproj.nuget.g.targets
CSV2DBConverterTests/obj/CSV2DBConverterTests.csproj.nuget.g.props
UITool/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UITool/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UITool/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
packages/
